<nav aria-label="Page navigation example">

  <ul class="pagination">
    <li class="page-item" {{on "click" (fn @changePage this.previosPage)}}>
      <span class="page-link">Previous</span>
    </li>

    {{#each this.numbersForPagination as |number|}}

      <li
        class="page-item {{if (eq number @pagination.page) 'active' ''}}"
        {{on "click" (fn @changePage number)}}
      >
        <span class="page-link">
          {{number}}
        </span>
      </li>

    {{/each}}


    <li
      class="page-item"
      {{on "click" (fn @changePage this.nextPageId)}}
    >
      <span class="page-link" href="#">Next</span>
    </li>
  </ul>
</nav>