<nav aria-label="Page navigation example">

  <ul class="pagination">
    <li class="page-item" {{on "click" (fn @changePage this.previosPage)}}>
      <span class="page-link">Previous</span>
    </li>

    {{#if this.showOrNotStart}}
      <li
        class="page-item"
        {{on "click" (fn @changePage 1)}}
      >
        <span class="page-link">
          1
        </span>
      </li>

      <li
        class="page-item"
        {{on "click" (fn @changePage 4)}}
      >
        <span class="page-link">
          ...
        </span>
      </li>
    {{/if}}

    {{#each this.numbersForPagination as |number|}}

      <li
        class="page-item {{if (eq number @pagination.page) 'active' ''}}"
        {{on "click" (fn @changePage number)}}
      >
        <span class="page-link">
          {{number}}
        </span>
      </li>

    {{/each}}

    {{#if this.showOrNotEnd}}
      <li
        class="page-item"
        {{on "click" (fn @changePage 4)}}
      >
        <span class="page-link">
          ...
        </span>
      </li>

      <li
        class="page-item"
        {{on "click" (fn @changePage this.lastPageId)}}
      >
        <span class="page-link">
          {{this.lastPageId}}
        </span>
      </li>
    {{/if}}




    <li
      class="page-item"
      {{on "click" (fn @changePage this.nextPageId)}}
    >
      <span class="page-link" href="#">Next</span>
    </li>
  </ul>
</nav>