


<nav aria-label="Page navigation example">

  <ul class="pagination">
    <li class="page-item" {{on "click" (fn @changePage this.previosPage)}}>
      <a class="page-link" href="#">Previous</a>
    </li>

    {{#each this.numbersForPagination as |number|}}

      <li
        class="page-item {{if (eq number @pagination.page) 'active' ''}}"
        {{on "click" (fn @changePage number)}}
      >
        <a class="page-link" href="#">
          {{number}}
        </a>
      </li> 

    {{/each}}


    <li class="page-item" {{on "click" (fn @changePage this.nextPageId)}}>
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>