
  <tr {{on "click" (fn @selectUser @user.id)}}>
    <th scope="row">
      <LinkTo @route="user-page" @model={{@user.id}}>
        {{@user.id}}
      </LinkTo>
    </th>

    <td>
      <LinkTo @route="user-page" @model={{@user.id}}>
        {{@user.name}}
      </LinkTo>
    </td>

    <td>
      <LinkTo @route="user-page" @model={{@user.id}}>
        {{@user.email}}
      </LinkTo>
    </td>
  </tr>