{{page-title "Posts"}}
<div>
  <h2>Posts</h2>

  <Filter::Input
    placeholder="Search by Title"
    @query={{this.title}}
    name="title"
    {{on "input" this.onChangeFilter}}
  />

  <UserPosts @deletePost={{fn this.deletePost}} @posts={{this.model}} />

  <Pagination @changePage={{fn this.changePage}} @pagination={{this.pagination}} />
</div>
{{outlet}}