{{page-title "Users"}}
  <div>
    <h2>Users</h2>

    <div class="filters">
      <Filter::Input
        @query={{this.name}}
        placeholder="Search by name"
        name="name"
        {{on "input" this.onChangeFilter}}
      />

      <Filter::Select name="status" {{on "change" this.onChangeFilter}}>
        <option value="all">Any status</option>
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
      </Filter::Select>

      <Filter::Select name="gender" {{on "change" this.onChangeFilter}}>
        <option value="all" selected>Any gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </Filter::Select>

      <Filter::Input
        @query={{this.email}}
        placeholder="Search by email"
        name="email"
        {{on "input" this.onChangeFilter}}
      />
    </div>

    <div>
      <UsersList @users={{this.model}} @selectUser={{this.selectUser}} />
    </div>

    <Pagination @changePage={{this.changePage}} @pagination={{this.pagination}} />
  </div>
{{outlet}}