{{page-title "Users"}}
  <div>
    <h2>Users</h2>

    

    <div>
      <UsersList @users={{this.model.data}} />
    </div>

    <Pagination @changePage={{this.changePage}} @pagination={{this.pagination}} />
  </div>
{{outlet}}