{{page-title "UserPage"}}
<div class="user">
  <div clas="useer__details">
    <div class="user__img-block">
      <img src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/v1466496305/cs40hu9ibibhazx2nmv9.jpg" alt="logo">
    </div>

    <UserDetails @user={{this.user}} />

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#user_{{this.user.id}}">
      Edit
    </button>

    <!-- Modal -->
    <div class="modal fade" id="user_{{this.user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{this.user.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
    
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="username">First and last name</label>
              </div>
              <Input
                id="username"
                type="text"
                class="form-control"
                @value={{this.name}}
              />
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="email">Email</label>
              </div>
              <Input
                id="email"
                type="text"
                class="form-control"
                @value={{this.email}}
              />
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="genderSelect">Gender</label>
              </div>
              <select class="custom-select" id="genderSelect" name="gender" {{on "change" this.onChange}}>
                <option value="male" selected={{if (eq this.gender 'male') true false}}>Male</option>
                <option value="female" selected={{if (eq this.gender 'female') true false}}>Female</option>
              </select>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="statusSelect">Status</label>
              </div>
              <select class="custom-select" id="statusSelect" name="status" {{on 'change' this.onChange}}>
                <option value="active" selected={{if (eq this.status 'active') true false}}>Active</option>
                <option value="inactive" selected={{if (eq this.status 'inactive') true false}}>Inactive</option>
              </select>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              {{on "click" this.cancelEditing}}
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              {{on "click" this.updateUserInfo}}
            >
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="switcher">
    <button
      type="button"
      class="btn {{if (eq this.selectedTab 'posts') 'btn-success'}}"
      {{on "click" (fn this.selectTab 'posts')}}
    >
      <LinkTo @route="user-page.posts" @model={{this.user.id}}>
        Posts
      </LinkTo>
    </button>

    <button
      type="button"
      class="btn {{if (eq this.selectedTab 'todos') 'btn-success'}}"
      {{on "click" (fn this.selectTab 'todos')}}
    >
      <LinkTo @route="user-page.todos" @model={{this.user.id}}>
        Todos
      </LinkTo>
    </button>
  </div>

  {{outlet}}
</div>
