{{page-title "UserPage"}}
<div class="user">
  <div>
    <div class="user__img-block">
      <img src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/v1466496305/cs40hu9ibibhazx2nmv9.jpg" alt="logo">
    </div>

    <UserDetails @user={{this.user}} />
  </div>



  <div class="switcher">
    <button
      type="button"
      class="btn {{if (eq this.selectedTab 'posts') 'btn-success'}}"
      {{on "click" (fn this.selectTab 'posts')}}
    >
      <LinkTo @route="user-page.posts" @model={{this.user.id}}>
        Posts
      </LinkTo>
    </button>

    <button
      type="button"
      class="btn {{if (eq this.selectedTab 'todos') 'btn-success'}}"
      {{on "click" (fn this.selectTab 'todos')}}
    >
      <LinkTo @route="user-page.todos" @model={{this.user.id}}>
        Todos
      </LinkTo>
    </button>
  </div>

  {{outlet}}
</div>
